@model EndeavorlinkStats.Models.InterfaceModel
<!DOCTYPE html5 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml5-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <title>Endeavorlink Statistics Page</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

    <script type="text/javascript" src="~/js/plugins/spinner/ui.spinner.js"></script>
    <script type="text/javascript" src="~/js/plugins/spinner/jquery.mousewheel.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/charts/excanvas.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/charts/jquery.flot.js"></script>
    <script type="text/javascript" src="~/js/plugins/charts/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="~/js/plugins/charts/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="~/js/plugins/charts/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="~/js/plugins/charts/jquery.sparkline.min.js"></script>

    <script type="text/javascript" src="~/js/plugins/forms/uniform.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/jquery.cleditor.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/jquery.validationEngine-en.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/autogrowtextarea.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/jquery.dualListBox.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/jquery.inputlimiter.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/forms/chosen.jquery.min.js"></script>

    <script type="text/javascript" src="~/js/plugins/wizard/jquery.form.js"></script>
    <script type="text/javascript" src="~/js/plugins/wizard/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/wizard/jquery.form.wizard.js"></script>

    <script type="text/javascript" src="~/js/plugins/uploader/plupload.js"></script>
    <script type="text/javascript" src="~/js/plugins/uploader/plupload.html5.js"></script>
    <script type="text/javascript" src="~/js/plugins/uploader/plupload.html4.js"></script>
    <script type="text/javascript" src="~/js/plugins/uploader/jquery.plupload.queue.js"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/tables/datatable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/plugins/tables/tablesort.min.js")"></script>
    <script type="text/javascript" src="~/js/plugins/tables/resizable.min.js"></script>

    <script type="text/javascript" src="~/js/plugins/ui/jquery.tipsy.js"></script>
    <script type="text/javascript" src="~/js/plugins/ui/jquery.collapsible.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/ui/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/js/plugins/ui/jquery.progress.js"></script>
    <script type="text/javascript" src="~/js/plugins/ui/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/ui/jquery.colorpicker.js"></script>
    <script type="text/javascript" src="~/js/plugins/ui/jquery.jgrowl.js"></script>
    <script type="text/javascript" src="~/js/plugins/ui/jquery.breadcrumbs.js"></script>
    <script type="text/javascript" src="~/js/plugins/ui/jquery.sourcerer.js"></script>

    <script type="text/javascript" src="~/js/plugins/calendar.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/elfinder.min.js"></script>

    <script type="text/javascript" src="~/js/custom.js"></script>

    <script type="text/javascript" src="~/js/charts/chart.js"></script>
    <script type="text/javascript">
        var currentRequest = null;
        function getDashboardStats() {
            var user = '@Session["username"].ToString()';
            currentRequest = $.ajax({
                url: '@Url.Action("getDashboardStats", "Stats")',
                beforeSend: function () {
                    $('#contenido').html("<img src='/images/spinner.gif' style='margin: 100 450;'/>").delay(2000);
                },
                success: function (response) {
                    $('#contenido').html(response);
                }
            });
        }

        function updateDashboardStats(dOper) {
            $.ajax({
                url: '@Url.Action("updateDashboardStats","stats")',
                data: {
                    'oper': dOper
                },
                success: function (response) {
                    $('#contenido').html(response);
                }
            });
        }

        var oper = "";
        function getOperator(operator) {
            if (currentRequest != null)
                currentRequest.abort();
            $.ajax({
                url: '@Url.Action("getSupportByOperator","Support")',
                beforeSend: function () {
                    $('#contenido').html("<img src='/images/spinner.gif' style='margin: 100 450;'/>").delay(2000);
                },
                data: { 'oper': operator }, success: function (response) {
                    $("#subtitle").html(uppercase(operator)+' Support Area');
                    oper = operator;
                    $('#contenido').html(response);
                },
                error: function () {
                    window.location.replace('@Url.Action("err500","error")');
                }
            });
        }

        function uppercase(oper) {
            return oper.charAt(0).toUpperCase()+oper.slice(1);
        }

        function askMSISDN() {
            $.ajax({
                url: '@Url.Action("getBuscadorSMS","Support")',
                method: 'get',
                data:{'oper': oper},
                beforeSend: function () {
                    $("#content-support").html("");
                    $("#buscador").html("");
                    $('#buscador').html("<img src='/images/spinner.gif' style='margin: 100 450;'/>").delay(2000);
                },
                success: function (response) {
                    $("#buscador").html(response);
                }
             });
        }
        
        function getSMSSupport() {
            $.ajax({
                url: '@Url.Action("getMOMTByMSISDN","Support")',
                data: {
                    'msisdn': $("#msisdn").val()
                },
                beforeSend: function () {
                    $('#content-support').html("<img src='/images/spinner.gif' style='margin: 100 450;'/>").delay(2000);
                },
                success: function (response) {
                    $("#content-support").html("");
                    $("#buscador").html("");
                    $("#content-support").html(response);
                }
            });
        }
        function getUnsubscribe() {
            $.ajax({
                url: '@Url.Action("getShortcodes","Support")',
                method: 'get',
                data: { 'oper': oper , 'view': 'sms_support' },
                beforeSend: function () {
                    $("#content-support").html("");
                    $("#buscador").html("");
                    $('#content-support').html("<img src='/images/spinner.gif' style='margin: 100 450;'/>").delay(2000);
                },
                success: function (response) {
                    $("#content-support").html(response);
                }
            });
        }

        function getSendSMS() {
            $.ajax({
                url: '@Url.Action("getShortcodes","Support")',
                 method: 'get',
                 data: { 'oper': oper, 'view': 'sms_send_support' },
                 beforeSend: function () {
                     $("#content-support").html("");
                     $("#buscador").html("");
                     $('#content-support').html("<img src='/images/spinner.gif' style='margin: 100 450;'/>").delay(2000);
                 },
                 success: function (response) {
                     $("#content-support").html(response);
                 }
             });
        }

        function sleep(milliseconds) {
            var start = new Date().getTime();
            for (var i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > milliseconds) {
                    break;
                }
            }
        }

        function sendSMS() {
            $.ajax({
                url: '@Url.Action("sendSMS","support")',
                type: 'post',
                data: {
                    'msisdn': $("#msisdn").val(),
                    'shortcode': $("#shortcode").val(),
                    'msg': $("#msg").val(),
                    'oper': oper
                },
                beforeSend: function () {
                    $('#content-support').append("<img id='spinner' src='/images/spinner.gif' style='margin: 100 450;'/>").delay(2000);
                },
                success: function (response) {
                    if (response == "True") {
                        $("#spinner").remove();
                        $("#notification").remove();
                        $("#buscador").append(
                            '<div id="notification" class="wrapper">' +
                            '<div class="nNote nSuccess hideit">' +
                                '<p><strong>SUCCESS: </strong>SMS sent</p>' +
                            '</div>' +
                            '</div>');
                    } else {
                        $("#spinner").remove();
                        $("#notification").remove();
                        $("#buscador").append(
                            '<div id="notification" class="wrapper">' +
                            '<div class="nNote nFailure hideit">' +
                                '<p><strong>FAILURE: </strong>Send error</p>' +
                            '</div>' +
                            '</div>');
                    }
                    $(".hideit").click(function () {
                        $(this).fadeTo(200, 0.00, function () { //fade
                            $(this).slideUp(300, function () { //slide up
                                $(this).remove(); //then remove from the DOM
                            });
                        });
                    });
                }
            });
        }
        function cancellUser() {
            $.ajax({
                url: '@Url.Action("cancellUser","support")',
                type: 'post',
                data: {
                    'msisdn': $("#msisdn").val(),
                    'shortcode': $("#shortcode").val(),
                    'msg': 'salir',
                    'oper': oper
                },
                beforeSend: function () {
                    $('#content-support').append("<img id='spinner' src='/images/spinner.gif' style='margin: 100 450;'/>").delay(2000);
                },
                success: function (response) {
                    if (response == "True") {
                        $("#spinner").remove();
                        $("#notification").remove();
                        $("#buscador").append(
                            '<div id="notification" class="wrapper">' +
                            '<div class="nNote nSuccess hideit">' +
                                '<p><strong>SUCCESS: </strong>Cancellation OK</p>' +
                            '</div>' +
                            '</div>');
                    } else {
                        $("#spinner").remove();
                        $("#notification").remove();
                        $("#buscador").append(
                            '<div id="notification" class="wrapper">' +
                            '<div class="nNote nFailure hideit">' +
                                '<p><strong>FAILURE: </strong>Cancellation Error</p>' +
                            '</div>'+
                            '</div>');
                    }
                    $(".hideit").click(function () {
                        $(this).fadeTo(200, 0.00, function () { //fade
                            $(this).slideUp(300, function () { //slide up
                                $(this).remove(); //then remove from the DOM
                            });
                        });
                    });
                }
            });
        }
        function getOperatorStatsPage(month, year, oper) {
            this.oper = oper;
            $.ajax({
                url: '@Url.Action("getOperatorStatPage","stats")/'+ month + '/' + year +'/'+ oper,
                type: 'get',
                beforeSend: function () {
                    $('#contenido').html("<img src='/images/spinner.gif' style='margin: 100 450;'/>").delay(2000);
                },
                success: function (response) {
                    $("#contenido").html(response);
                    $.fn.contentTabs = function () {

                        $(this).find(".tab_content").hide(); //Hide all content
                        $(this).find("ul.tabs li:first").addClass("activeTab").show(); //Activate first tab
                        $(this).find(".tab_content:first").show(); //Show first tab content

                        $("ul.tabs li").click(function () {
                            $(this).parent().parent().find("ul.tabs li").removeClass("activeTab"); //Remove any "active" class
                            $(this).addClass("activeTab"); //Add "active" class to selected tab
                            $(this).parent().parent().find(".tab_content").hide(); //Hide all tab content
                            var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
                            $(activeTab).show(); //Fade in the active content
                            return false;
                        });

                    };
                    $("div[class^='widget']").contentTabs(); //Run function on any div with class name of "Content Tabs"
                    $("select, input:checkbox, input:radio, input:file").uniform();
                }
            });
            
        }

        function getOperatorStatsAnual() {
            getOperatorStatsPage('@DateTime.Now.Month',$("#year").val(), oper);
        }

        function getOperatorStatsMes() {
        }

        
    </script>

</head>

<body onload="getDashboardStats()">

    <!-- Style switcher -->
    <!--<div class="switcher">
	<a href="#" title="" class="pat1"><img src="images/switcher/2.png" alt="" /></a>
    <a href="#" title="" class="pat2"><img src="images/switcher/3.png" alt="" /></a>
    <a href="#" title="" class="pat3"><img src="images/switcher/4.png" alt="" /></a>
	<a href="#" title="" class="pat4"><img src="images/switcher/5.png" alt="" /></a>
    <a href="#" title="" class="pat5"><img src="images/switcher/6.png" alt="" /></a>
    <a href="#" title="" class="pat6"><img src="images/switcher/7.png" alt="" /></a>
	<a href="#" title="" class="pat7"><img src="images/switcher/8.png" alt="" /></a>
    <a href="#" title="" class="pat8"><img src="images/switcher/9.png" alt="" /></a>
    <a href="#" title="" class="pat10"><img src="images/switcher/10.png" alt="" /></a>
	<a href="#" title="" class="pat9"><img src="images/switcher/1.png" alt="" /></a>
</div>
-->

    <!-- Left side content -->
    <div id="leftSide">
        <div class="logo">
            <a href="@Url.Action("Index")">
                <img src="images/logo.png" alt="" /></a>
        </div>

        <div class="sidebarSep mt0"></div>

        <div class="nextUpdate">
            <ul>
                <li>Next update in:</li>
                <li>23 hrs 14 min</li>
            </ul>
            <div class="pWrapper">
                <div class="progressG" title="78%"></div>
            </div>
        </div>

        <div class="sidebarSep"></div>

        <!-- Left navigation -->
        <ul id="menu" class="nav">
            @{
                foreach (var item in Model.operatorsForCountry.Keys)
                {
                    List<String> value = new List<String>(0);
                    Model.operatorsForCountry.TryGetValue(item, out value);
                <li class="forms"><a href="#" title="" class="exp"><span>@item</span><strong>@value.Count</strong></a>
                    <ul class="sub">
                        @{
                        
                    foreach (var subitem in value)
                    {
                        var friendlyName = subitem;
                        if (@subitem == "MOVPERU")
                        {
                            friendlyName = "MOVISTAR";
                        }
                        if (@subitem == "CLAROPERU")
                        {
                            friendlyName = "CLARO";
                        }
                            <li><a href="#" onclick="getOperatorStatsPage(@DateTime.Now.Month,@DateTime.Now.Year,'@friendlyName.ToLower()')">@friendlyName</a></li>   
                    }
                        }
                    </ul>
                </li>
                }
            }

        </ul>
    </div>


    <!-- Right side -->
    <div id="rightSide">

        <!-- Top fixed navigation -->
        <div class="topNav">
            <div class="wrapper">
                <div class="welcome">
                    <a href="#" title="">
                        <img src="images/userPic.png" alt="" /></a><span>@Session["username"].ToString()</span>
                </div>
                <div class="userNav">
                    <ul>
                        <li><a href="#" title="">
                            <img src="images/icons/topnav/profile.png" alt="" /><span>Profile</span></a></li>
                        @{
                            if (Session["username"].Equals("admin") || Session["username"].Equals("support"))
                            {
                            <li class="dd">
                                <!-- asdf -->
                                <a title="">
                                    <img src="images/icons/topnav/tasks.png" alt="" /><span>Support</span></a>
                                <ul class="userDropdown">
                                    @{
                                foreach (var item in Model.operatorsForCountry.Keys)
                                {
                                    List<String> value = new List<String>(0);
                                    Model.operatorsForCountry.TryGetValue(item, out value);

                                    foreach (var subitem in value)
                                    {
                                        var friendlyName = subitem;
                                        if (@subitem == "MOVPERU")
                                        {
                                            friendlyName = "PERÚ MOVISTAR";
                                        }
                                        if (@subitem == "CLAROPERU")
                                        {
                                            friendlyName = "PERÚ CLARO";
                                        }
                                        if (@subitem == "TELCEL")
                                        {
                                            friendlyName = "MEXICO TELCEL";
                                        }
                                        if (@subitem == "COMCEL")
                                        {
                                            friendlyName = "COLOMBIA COMCEL";
                                        }
                                        <li class="sAdd"><a href="#support_@friendlyName.Split()[1].ToLower()" onclick="getOperator('@friendlyName.Split()[1].ToLower()')" title="">@friendlyName</a></li>   
                                    }
                                }
                                    }
                                </ul>
                            </li>
                            }
                        
                        }
                        <li><a href="@Url.Action("logOut", "Login")" title="">
                            <img src="images/icons/topnav/logout.png" alt="" /><span>Logout</span></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- Responsive header -->
        <div class="resp">
            <div class="respHead">
                <a href="index.html" title="">
                    <img src="images/loginLogo.png" alt="" /></a>
            </div>

            <div class="cLine"></div>
            <div class="smalldd">
                <span class="goTo">
                    <img src="images/icons/light/home.png" alt="" />Dashboard</span>
                <ul class="smallDropdown">
                    @{
                        foreach (var item in Model.operatorsForCountry.Keys)
                        {
                            List<String> value = new List<String>(0);
                            Model.operatorsForCountry.TryGetValue(item, out value);
                        <li><a href="#" title="" class="exp">
                            <img src="images/icons/light/stats.png" alt="" />@item<strong>@value.Count</strong></a>
                            <ul class="sub">
                                @{
                        
                            foreach (var subitem in value)
                            {
                                    <li><a href="#" title="">@subitem</a></li>   
                            }
                                }
                            </ul>
                        </li>
                        }
                    }
                </ul>
            </div>
            <div class="cLine"></div>
        </div>

        <!-- Title area -->
        <div class="titleArea">
            <div class="wrapper">
                <div class="pageTitle">
                    <h5 id="titleBar">@Session["displayName"].ToString() - Dashboard</h5>
                    <span id="subtitle">General month stats</span>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="line"></div>

        <!-- Page statistics and control buttons area -->
        <div class="statsRow">
            <div class="wrapper">
                <div class="controlB">
                    @{
                        var date = DateTime.Now.ToLongDateString();
                    }
                    <h6>@date</h6>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="line"></div>

        <div id="contenido">

        <!-- Main content wrapper -->
        
        </div>
        <div id="footer">
            <div class="wrapper">All rights reserved to <a href="http://www.endeavorlink.com" title="">Endeavorlink</a> - 2013</div>
        </div>

    </div>

    <div class="clear"></div>
</body>

</html>
